input {
    text-align: center;
}

label {
    color: #B4886B;
    font-weight: bold;
    display: block;
    font-size: large;

}

label:after { content: ": " }

.add-button {
    background: #01d1d1;
    font: inherit;
    border: 1px solid #010101;
    border-radius: 30%;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}