@import url("https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900");

* {
    box-sizing: border-box;
}

 .contact_body {
    height: 100%;
     width: 100%;;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding-top: 1rem;
     padding-bottom: 1rem;
     font-family: Muli;
     font-size: 1rem;
     font-weight: 700;
 }

 .form-group {
     max-width: 24em;
     min-width: 21em;
 }
