@import url("https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900");

* {
    box-sizing: border-box;
}

.faqs_container{
    height: 80rem;
    display: grid;
    grid-template-rows: 20% 80%;
    row-gap: 100px;
}

.background_image_box{
    position: relative;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.question_title{
    display: grid;
    align-items: center;
    padding-bottom: 4em;
}

.question_title h2{
    font-family: Muli;
    font-size: 4rem;
    font-weight: 700;
    color: brown;
}

.questions{
    font-family: Muli;
    text-align: left;
    line-height: 2em;
}

.questions span{
    color: brown;
    font-size: 2rem;
    font-weight: 600;
    text-transform: none;
}

.questions p{
    font-size:1.5rem;
    font-weight: 400;
    margin-left: 1em;
    margin-bottom: 1em;
}