@import url("https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900");

* {
    box-sizing: border-box;
}

.join_container{
    height: 100%;
    display: grid;
    grid-template-rows: 50% 20% 30%;
    row-gap: 8rem;
    font-family: Muli;
}

.social_container{    
    row-gap: 5rem;
}

.social_row{
    display: grid;
    grid-template-columns:  33% 33% 33%;
    text-align: center center;
    justify-content: center;
}

.social_title{
    display: grid;
    align-items: center;
    padding-bottom: 3em;
}

.social_title h2{
    font-family: Muli;
    font-weight: 700;
    font-size: 3rem;
    color: brown;
    text-align: center;
    padding: 0 7.5em;
}

.social_col{
    width: 100%;
    height: auto;
    align-items: center!important;
}

.icon_image{
    max-width: 10rem;
    padding-bottom: 2rem;
}

.social_col h2 {
    color: brown;
    font-family: Muli;
    font-weight: 700;
}